<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- 비즈니스 로직 계층의 모든 메소드에 트랜잭션 처리 -->
  <aop:config>
    <aop:pointcut id="servicePointcut" 
      expression="execution(* kr.sy.kwag2..service.impl.*ServiceImpl.*(..))" />
    <aop:advisor pointcut-ref="servicePointcut" advice-ref="transactionAdvice" />
  </aop:config>

</beans>